:root {
    --black: #191a19;
    --white: #fff5e0;
    --gray: #a1a1aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

/* Dashboard */
.dashboard {
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.logo {
    margin-right: auto;
}

/*black and white switch*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fde047;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.4s;
}

.white-black:checked+.slider {
    background-color: #1c274c;
}

.white-black:focus+.slider {
    box-shadow: 0 0 1px #1c274c;
}

.white-black:checked+.slider:before {
    transform: translateX(26px);
    content: url("./Pictures/moon-svgrepo-com(1).svg");
}

.white-black:not(:checked)+.slider:before {
    transform: translateX(0);
    content: url("./Pictures/sun-svgrepo-com.svg");
}

/* Rounded sliders */
.slider.round {
    border-radius: 2.125rem;
}

.slider.round:before {
    border-radius: 50%;
}

/*Name*/
.profile {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
    margin-top: 20vh;
}

.profile-name {
    font-size: 2.5rem;
}

.profile-img {
    width: 15rem;
    height: 10rem;
}

/*About me*/
.about-me-title {
    text-align: center;
}

.about-me-text {
    font-size: 1.25rem;
    padding: 30rem;
    padding-top: 1rem;
    margin-bottom: 50vh;
}

/*Skills*/
.skill-title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.skillTitle {
    font-size: 2rem;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(3, 12.5rem);
    justify-content: center;
    margin-bottom: 50vh;
}

.skill {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;
}

/*Projects*/
.project-content {
    display: grid;
    justify-items: center;
    padding: 1.875rem;
}

.project {
    background: #8decb4;
    width: 1000px;
    margin-bottom: 6.25rem;
    border: 2px solid black;
}

.Project {
    text-align: center;
    margin-bottom: 5rem;
}

.project-title {
    text-align: center;
}

.links {
    display: flex;
    justify-content: end;
}

/*Contact*/
footer {
    height: 100%;
    background: #41b06e;
}

#contact-me {
    text-align: center;
    margin-bottom: 0.625rem;
}

.contact-title {
    display: grid;
    justify-content: center;
}

.contact-name {
    text-align: center;
    padding: 1.875rem;
}

.copyright {
    margin-bottom: 0;
    padding: 1.25rem;
    text-align: center;
}

.your-contact {
    display: grid;
    justify-content: center;
    gap: 0.625rem;
}

.email {
    font-size: 1.25rem;
    grid-column: 1;
    grid-row: 2;
}

.name {
    font-size: 1.25rem;
    grid-column: 1;
    grid-row: 1;
}

.message {
    font-size: 1.25rem;
    grid-column: 1;
    grid-row: 3;
}

.submit {
    width: 5rem;
    height: 2.5rem;
    grid-column: 2;
    grid-row: 3;
    margin-top: 1.875rem;
}

textarea {
    width: 60rem;
    height: 4.375rem;
    resize: none;
}

/*Back to the top arrow*/
.back-to-the-top {
    display: block;
    top: 0rem;
    left: 62rem;
    position: fixed;
    z-index: 0;
    cursor: pointer;
}

.hidden {
    display: none;
}
/*Table Big*/
@media only screen and (max-width: 1024px) {
    * {
        overflow-x: hidden;
    }

    /*About*/
    .about-me-text {
        font-size: 1rem;
        padding: 10px;
    }

    /* Projects*/
    .project {
        width: 700px;
    }

    .your-contact {
        input {
            width: 600px;
        }

        textarea {
            width: 600px;
        }
    }
    .back-to-the-top {
        left: 30rem;
    }
}
/*Tablet*/
@media only screen and (max-width: 834px) {
    * {
        overflow-x: hidden;
    }

    /*About*/
    .about-me-text {
        font-size: 1rem;
        padding: 10px;
    }

    /* Projects*/
    .project {
        width: 700px;
    }

    .your-contact {
        input {
            width: 600px;
        }

        textarea {
            width: 600px;
        }
    }

    .back-to-the-top {
        left: 23rem;
        top: 5rem;
    }
}

/* Mobile big */
@media only screen and (max-width: 500px) {

    /* Dashboard */
    * {
        overflow-x: hidden;
    }

    .dashboard {
        font-size: 0.7rem;
        gap: 10px;

        a {
            font-size: 11px;
        }
    }

    .contact {
        margin-right: 10px;
    }

    .logo {
        margin-right: 10px;
    }

    /*About*/
    .about-me-text {
        font-size: 0.7rem;
        padding: 10px;
    }

    /* Skills  */
    .skill {
        width: 100px;
        height: 100px;
    }

    .skills-content {
        grid-template-columns: repeat(3, 6.5rem);
    }

    .skill-image {
        svg {
            width: 80px;
            height: 80px;
        }
    }

    .skillTitle {
        font-size: 10px;
    }

    /* Projects*/
    .project {
        width: 300px;
    }

    /* Contact */
    .your-contact {
        input {
            width: 350px;
        }

        textarea {
            width: 350px;
        }
    }

    .submit {
        position: relative;
        left: 270px;
        bottom: 20px;
        grid-column: 1;
        grid-row: 4;
    }

    .back-to-the-top {
        left: 10rem;
    }
}

.about-content {
    overflow: hidden;
    height: 25rem;
    margin-bottom: 50vh;
}


/*Mobile small*/
@media only screen and (max-width: 412px) {

    /* Dashboard */
    * {
        overflow-x: hidden;
    }

    .dashboard {
        font-size: 0.7rem;
        gap: 10px;

        a {
            font-size: 12px;
        }
    }

    .contact {
        margin-right: 10px;
    }

    .logo {
        margin-right: 10px;
    }

    /*About*/
    .about-me-text {
        font-size: 0.7rem;
        padding: 10px;
    }

    /* Skills  */
    .skill {
        width: 100px;
        height: 100px;
    }

    .skills-content {
        grid-template-columns: repeat(3, 6.5rem);
    }

    .skill-image {
        svg {
            width: 80px;
            height: 80px;
        }
    }

    .skillTitle {
        font-size: 10px;
    }

    /* Projects*/
    .project {
        width: 300px;
    }

    /* Contact */
    .your-contact {
        input {
            width: 350px;
        }

        textarea {
            width: 350px;
        }
    }

    .submit {
        position: relative;
        left: 270px;
        bottom: 20px;
        grid-column: 1;
        grid-row: 4;
    }

    .back-to-the-top {
        left: 10rem;
    }
}


